<div id='cloud-image'>
  <%= image_tag(@cloud.url, width: 600) %>
</div>

<div id="comment-form">
  <%= form_for([@cloud, @comment], remote: true) do |form| %>
    <%= form.text_area :body, size: "55x5" %>
    <%= form.submit %>
  <% end %>
</div>

<div id="comments-displayed">

</div>
